<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>

<h1>Edit Product</h1>

<a href="/product">Back</a>

<form action="/product/update" method="post" th:object="${productEdit}">
    <label>
        Name:
        <input type="text" th:field="*{name}">
    </label>
    <label>
        Price:
        <input type="number" th:field="*{price}">
    </label>
    <label>
        Description:
        <input type="text" th:field="*{description}">
    </label>
    <label>
        Manufacturer:
        <input type="text" th:field="*{manufacturer}">
    </label>
    <button>Edit</button>
</form>

</body>
</html>